@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #0053db;
  --color-primary-dim: #0048c1;
  --color-primary-container: #dbe1ff;
  --color-on-primary: #f8f7ff;
  --color-on-primary-container: #0048bf;
  
  --color-surface: #f8f9ff;
  --color-on-surface: #00345e;
  --color-on-surface-variant: #26619d;
  
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container: #e5eeff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d2e4ff;
  
  --color-outline-variant: #81b5f6;
  --color-error: #9f403d;
  
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased;
  }
}

.glass-header {
  @apply bg-white/80 backdrop-blur-md sticky top-0 z-50;
}

.ambient-shadow {
  box-shadow: 0 20px 40px rgba(0, 52, 94, 0.05);
}

.ghost-border {
  @apply border border-outline-variant/15;
}
